$debug: false;

$profile-image-size: 50px;
$profile-image-radius: 50%;

* {
  @if $debug {
    outline: 1px solid rgba(0, 0, 0, 0.1);

    &:hover {
      outline: 2px solid lightcoral;
    }
  }
}

.app {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "header header"
    "contact-list contact";

  header {
    grid-area: header;

    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-template-areas: "logo search ";

    padding: 10px;
    background-color: white;
    box-shadow: 0px 5px 10px rgba($color: #000, $alpha: 0.1);

    .logo {
      grid-area: logo;
      place-self: center start;
    }

    .search {
      grid-area: search;
      place-self: center end;
    }
  }

  .contact-list {
    display: grid;
    grid-template-rows: 50px auto;
    grid-template-columns: 1fr;
    height: 100vh;
    overflow-y: auto;

    .contact-list--title {
      display: grid;
      grid-template-columns: 60px repeat(2, 1fr);
      place-items: center start;
      background-color: white;
      border-bottom: 1px solid black;
    }

    .contact-list--item {
      display: grid;
      grid-template-columns: auto repeat(2, 1fr);
      border-bottom: 1px solid gray;
      place-items: center start;

      &:hover {
        background-color: rgba($color: #000000, $alpha: 0.08);
        cursor: pointer;
      }

      img {
        width: $profile-image-size;
        border-radius: $profile-image-radius;
        margin: 5px;
        transition: 0.5s;

        &:hover {
          box-shadow: 0px 0px 20px rgba($color: #000000, $alpha: 0.4);
        }
      }
    }
  }

  .contact {
    grid-area: contact;

    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    overflow-x: hidden;
    overflow-y: auto;


    .contact--profile-image {
      width: 100%;
      grid-row: 1 / span 1;
      grid-column: 1 / span 1;
      height: 400px;
      object-fit: cover;
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
      filter: blur(20px) brightness(0.8) grayscale(0.2);
    }

    img {
      grid-row: 1 / span 1;
      grid-column: 1 / span 1;
      z-index: 1;
      height: 200px;
      place-self: center;

      border-radius: 20px;
      box-shadow: 0 0 20px darkgray;

      object-fit: cover;
      transition: .1s ease-in;


      &:hover {
        height: 300px;
      }
    }

    .contact--info {
      padding: 100px;
      font-size: 20px;

      div {
        margin-bottom: 20px;
      }

      strong {
        font-size: 20px;
      }
    }
  }
}
